.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
  .container {
    justify-content: center;
  }
}