.card {
  width: 240px;
  border-color: rgba(154, 154, 154, 0.532);
}
.img {
  width: 140px;
  height: 240px;
  padding: 2px;
  object-position: center;
  object-fit: contain;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
}

.rate {
  width: 200px;
}