.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.imgContainer {
  position: relative;
  border: 18px;
  width: 400px;
  height: auto;
}
.imgContainer img {
  width: 400px;
  height: auto;
  object-fit: contain;
  object-position: center;
}
.badget {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 5px 20px;
  border-radius: 18px;
  color: black;
  background-color: rgb(242, 151, 31);
  font-weight: 600;
}
.descContainer {
  max-width: 500px;
  flex-grow: 1;
}
.title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}
.rating {
  color: gray;
  font-weight: 600;
  margin-bottom: 30px;
}
.icon {
  color: rgb(255, 166, 0);
}
.descriptionTitle {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid gray 1px;
  font-size: 28px;
  font-weight: 600;
}
.description {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .imgContainer {
    width: 100%;
    height: auto;
  }
  .imgContainer img {
    width: 100%;
    height: auto;
  }
  .descContainer {
    max-width: 100%;
    text-align: center;
  }
  .title {
    font-size: 24px;
  }
  .descriptionTitle {
    font-size: 20px;
  }
}