.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 5px;
}

.btnContainer {
  display: flex;
  gap: 5px;
}

.count {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}